<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav class="nav-links">
          <p><a href="/">Home</a></p>
          <p><a href="/">Dashboard</a></p>
          {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <p><a href="/login">Login</a></p>
          {{/if}}
        </nav>
        <h1 class="app-title">The Tech Blog</h1>
      </header>
      <main>{{{ body }}}</main>
      <footer></footer>
    </div>
    {{#if loggedIn}}
    <script src="/public/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>
