<section class="post-list-login">
  <article class="post">
    <div class="title">
      <h2>Login</h2>
    </div>
    <form class="login-form form">
      <div>
        <label for="username-login">Username</label>
        <input class="text-box" type="text" id="username-login" />
      </div>
      <div>
        <label for="password-login">Password</label>
        <input class="text-box" type="password" id="password-login" />
      </div>
      <div>
        <button class="submit-button" type="submit">Login!</button>
        <h4 class="nav-link">
          <a href="/signup">Sign up instead</a>
        </h4>
      </div>
    </form>
  </article>
</section>
<script src="/public/javascript/login.js"></script>
