<section class="post-list-login">
  <article class="post">
    <div class="title">
      <h2>Sign Up</h2>
    </div>
    <form class="signup-form form">
      <div>
        <label for="username-signup">Username</label>
        <input class="text-box" type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-signup">Password</label>
        <input class="text-box" type="password" id="password-signup" />
      </div>
      <div>
        <button class="submit-button" type="submit">Sign Up!</button>
        <h4 class="nav-link">
          <a href="/login">Login instead</a>
        </h4>
      </div>
    </form>
  </article>
</section>
<script src="/public/javascript/signup.js"></script>
