:root {
  --primary: #e5c89f;
  --light-primary: #d9d1c5;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-brown: #816159;
  --light-dark: #80715e;
  --dim: #a58b6d;
  --dark: #1a0905;
  --border-radius: .3rem;
}

* {
    box-sizing: border-box;
  }

  .form {
    padding: 1.5% 1.5% 0;
  }

  body, html {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: var(--primary);
    line-height: 1.25;
  }
  .nav-link a {
    color: #0602b5;
  }
  .nav-link {
    margin: 1% 0;
  }
  
  main a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    transition: color .1s;
  }

  .content {
    margin: 1%;
    font-weight: 600;
  }
  
  .nav-links a:hover, main a:hover {
    color: var(--dim);
  }

  .submit-button:hover, .submit-post:hover {
    color: var(--primary);
    background: var(--dark);
  }
 /*
  button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
   
  button:hover {
    background-color: #3486eb;
  }
 */
  
  .post-list {
    margin: 0;
    padding: 0;
  }

  .text-box, .submit-button {
    width: 100%;
    padding: 1%;
  } 
  
  .submit-post {
    width: 96%;
    padding: 1%;
    margin: 0.5% 2% 0;
  }

  .submit-button, .submit-post {
    background-color: var(--light-dark);
    border-radius: 7px;
    border: 0;
    font-size: 1.4vw;
    color: var(--light-primary);
    transition: color .1s;
    cursor: pointer;
    font-weight: bold;
  }

  .comment-title {
    color: #1a0905;
    padding: 2% 2% 0;
  }


  .text-box {
    border-radius: 0;
  }

  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 2px solid #00000000;
  }
  
  textarea {
    min-width: 96%;
    min-height: 95px;
    margin: 0 2% 0;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    padding: 2% 4%;
    background-color: var(--dark);
    color: var(--primary);
  }

  .nav-links {
    justify-content: space-between;
    display: flex;
    width: 35%;
    margin-bottom: .5%;
    font-size: x-large;
  }

  .nav-links a {
    color: var(--primary);
    text-decoration: none;
  }
  
  .app-title, .app-title a {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-brown);
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color:#d41414;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post-list li, .post-list-login {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    list-style-type: none;
  }
  section.post-list-login {
    margin: 1%;
  }

  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }

  .title {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
  }

  .title, span {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .title span {
    color: var(--primary);
    font-size: 80%;
  }

  .title a {
    font-size: 1.3vw;
}
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .width {
    width:80%;
    margin: 0 10% 1% 10%;
  }
 
  .comment {
    padding: 1%;
    margin: 1%;
  }
  
 
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  /*
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
  */